@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot"),
    url("../../fonts/icomoon.woff") format("woff2"),
    url("../../fonts/icomoon.ttf") format("truetype");
}

$icomoon: "icomoon", sans-serif;
